# Ansible retry
*.retry

# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Macos
.DS_Store

# Helm charts
charts
!/charts

# Terraform state
.terraform
terraform.tfstate
terraform.tfstate.backup
