---
prometheus:
  prometheusSpec:
    externalLabels:
      cluster: home
    remoteWrite:
    - url: "https://vm-demo.work.com/prometheus/api/v1/write"
      basicAuth:
          username:
            name: kubepromsecret
            key: vmuser
          password:
            name: kubepromsecret
            key: vmpass
      queueConfig: #2x the default
        capacity: 5000
        maxSamplesPerSend: 1000
        maxShards: 400
    # - url: "https://prometheus.work.com/api/v1/write"
    #   basicAuth:
    #       username:
    #         name: kubepromsecret
    #         key: username
    #       password:
    #         name: kubepromsecret
    #         key: password
    retention: 1d
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: NotIn
              values:
              - node2
prometheus-node-exporter:
  extraArgs:
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
    - --collector.textfile.directory=/host/root/var/lib/node_exporter/
grafana:
  imageRenderer:
    enabled: true
  grafana.ini:
    log:
      level: debug
    unified_alerting.screenshots:
      capture: true
      upload_external_image_storage: false
alertmanager:
  podDisruptionBudget:
    enabled: false
  alertManagerSpec:
    externalUrl: "https://alertmanager.home.com"
  config:
    enabled: true
    global:
      resolve_timeout: 5m
    route:
      group_by: ['namespace']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'alertshub'
      routes:
      - receiver: 'null'
        matchers:
          - alertname = "Watchdog"
    receivers:
    - name: 'null'
    - name: 'alertshub'
      webhook_config:
        url: https://8000.code.work.com/webhook/prometheus
        send_resolved: True
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/auth-url: http://authentik-server.authentik.svc.cluster.local/outpost.goauthentik.io/auth/nginx
      nginx.ingress.kubernetes.io/auth-signin: https://authentik.home.com/outpost.goauthentik.io/start?rd=https://$host$escaped_request_uri
      nginx.ingress.kubernetes.io/auth-snippet: |
          proxy_set_header X-Forwarded-Host $http_host;
    hosts:
      - alertmanager.home.com
    tls:
      - hosts:
          - alertmanager.home.com

