[SETUP]
pause=5
mqtt_broker={{ mqtt_broker }}
mqtt_user={{ mqtt_user }}
mqtt_pass={{ mqtt_pass }}

[1496142307100831000000]
port=/dev/hidraw0
protocol=PI18
command=GS#MOD
tag=mpp
outputs=hass_mqtt,prom_file
